<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lnmj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{65,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,90}}</string>
                <key>sourceSize</key>
                <string>{65,90}</string>
            </dict>
            <key>lnmj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,186},{18,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,89}}</string>
                <key>sourceSize</key>
                <string>{18,89}</string>
            </dict>
            <key>lnmj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,124},{53,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,87}}</string>
                <key>sourceSize</key>
                <string>{53,87}</string>
            </dict>
            <key>lnmj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,123},{53,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,88}}</string>
                <key>sourceSize</key>
                <string>{53,88}</string>
            </dict>
            <key>lnmj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,63},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>lnmj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,63},{59,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,88}</string>
            </dict>
            <key>lnmj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{59,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,90}</string>
            </dict>
            <key>lnmj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,124},{55,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,88}}</string>
                <key>sourceSize</key>
                <string>{55,88}</string>
            </dict>
            <key>lnmj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,63},{58,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,89}}</string>
                <key>sourceSize</key>
                <string>{58,89}</string>
            </dict>
            <key>lnmj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,177},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>lnmj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,242},{40,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{40,84}</string>
            </dict>
            <key>lnmj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,95},{69,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,89}}</string>
                <key>sourceSize</key>
                <string>{69,89}</string>
            </dict>
            <key>lnmj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
            <key>lnmj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,95},{67,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,83}}</string>
                <key>sourceSize</key>
                <string>{67,83}</string>
            </dict>
            <key>lnmj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>lnmj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{65,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,95}}</string>
                <key>sourceSize</key>
                <string>{65,95}</string>
            </dict>
            <key>lnmj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,63},{51,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,92}}</string>
                <key>sourceSize</key>
                <string>{51,92}</string>
            </dict>
            <key>lnmj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,91}}</string>
                <key>sourceSize</key>
                <string>{74,91}</string>
            </dict>
            <key>lnmj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,181},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>lnmj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,116},{59,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,89}}</string>
                <key>sourceSize</key>
                <string>{59,89}</string>
            </dict>
            <key>lnmj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,92}}</string>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>lnmj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{58,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,91}}</string>
                <key>sourceSize</key>
                <string>{58,91}</string>
            </dict>
            <key>lnmj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{59,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,92}}</string>
                <key>sourceSize</key>
                <string>{59,92}</string>
            </dict>
            <key>lnmj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,186},{58,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,95}}</string>
                <key>sourceSize</key>
                <string>{58,95}</string>
            </dict>
            <key>lnmj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{58,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,94}}</string>
                <key>sourceSize</key>
                <string>{58,94}</string>
            </dict>
            <key>lnmj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{64,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,91}}</string>
                <key>sourceSize</key>
                <string>{64,91}</string>
            </dict>
            <key>lnmj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{59,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,93}}</string>
                <key>sourceSize</key>
                <string>{59,93}</string>
            </dict>
            <key>lnmj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{68,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,91}}</string>
                <key>sourceSize</key>
                <string>{68,91}</string>
            </dict>
            <key>lnmj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,178},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>lnmj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,181},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>lnmj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,179},{61,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,79}}</string>
                <key>sourceSize</key>
                <string>{61,79}</string>
            </dict>
            <key>lnmj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,253},{68,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,74}}</string>
                <key>sourceSize</key>
                <string>{68,74}</string>
            </dict>
            <key>lnmj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,251},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>lnmj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,180},{58,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,85}}</string>
                <key>sourceSize</key>
                <string>{58,85}</string>
            </dict>
            <key>lnmj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,376},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>lnmj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,63},{12,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,59}}</string>
                <key>sourceSize</key>
                <string>{12,59}</string>
            </dict>
            <key>lnmj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,448},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,59}}</string>
                <key>sourceSize</key>
                <string>{36,59}</string>
            </dict>
            <key>lnmj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,376},{36,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,60}}</string>
                <key>sourceSize</key>
                <string>{36,60}</string>
            </dict>
            <key>lnmj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,285},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>lnmj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,285},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>lnmj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,438},{41,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,61}}</string>
                <key>sourceSize</key>
                <string>{41,61}</string>
            </dict>
            <key>lnmj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,398},{37,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,60}}</string>
                <key>sourceSize</key>
                <string>{37,60}</string>
            </dict>
            <key>lnmj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,394},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>lnmj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,456},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>lnmj_d1p2_2_2 .png</key>
            <dict>
                <key>frame</key>
                <string>{{416,284},{26,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,57}}</string>
                <key>sourceSize</key>
                <string>{26,57}</string>
            </dict>
            <key>lnmj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,387},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>lnmj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,413},{45,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,57}}</string>
                <key>sourceSize</key>
                <string>{45,57}</string>
            </dict>
            <key>lnmj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,185},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,56}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>lnmj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,438},{38,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,61}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>lnmj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,283},{44,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>lnmj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,472},{34,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,62}}</string>
                <key>sourceSize</key>
                <string>{34,62}</string>
            </dict>
            <key>lnmj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,267},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>lnmj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,185},{40,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,57}}</string>
                <key>sourceSize</key>
                <string>{40,57}</string>
            </dict>
            <key>lnmj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,392},{39,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,61}}</string>
                <key>sourceSize</key>
                <string>{39,61}</string>
            </dict>
            <key>lnmj_d1p2_3_4 (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{411,437},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>lnmj_d1p2_3_4 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{453,437},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>lnmj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,372},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>lnmj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,284},{39,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,65}}</string>
                <key>sourceSize</key>
                <string>{39,65}</string>
            </dict>
            <key>lnmj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,382},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>lnmj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,349},{43,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,62}}</string>
                <key>sourceSize</key>
                <string>{43,62}</string>
            </dict>
            <key>lnmj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,351},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>lnmj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,323},{47,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,62}}</string>
                <key>sourceSize</key>
                <string>{47,62}</string>
            </dict>
            <key>lnmj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,455},{48,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,51}}</string>
                <key>sourceSize</key>
                <string>{48,51}</string>
            </dict>
            <key>lnmj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,452},{39,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,55}}</string>
                <key>sourceSize</key>
                <string>{39,55}</string>
            </dict>
            <key>lnmj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,417},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>lnmj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,233},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{46,50}</string>
            </dict>
            <key>lnmj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,389},{43,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{43,53}</string>
            </dict>
            <key>lnmj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,244},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{39,57}</string>
            </dict>
            <key>lnmj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,263},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>lnmj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,87},{59,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,12}}</string>
                <key>sourceSize</key>
                <string>{59,12}</string>
            </dict>
            <key>lnmj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,448},{59,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,36}}</string>
                <key>sourceSize</key>
                <string>{59,36}</string>
            </dict>
            <key>lnmj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,285},{60,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>lnmj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,285},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>lnmj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,347},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>lnmj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,351},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>lnmj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,398},{60,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,37}</string>
            </dict>
            <key>lnmj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,309},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>lnmj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,233},{51,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>lnmj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,323},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>lnmj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,260},{61,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,47}}</string>
                <key>sourceSize</key>
                <string>{61,47}</string>
            </dict>
            <key>lnmj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,450},{57,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,45}}</string>
                <key>sourceSize</key>
                <string>{57,45}</string>
            </dict>
            <key>lnmj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,350},{56,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,46}}</string>
                <key>sourceSize</key>
                <string>{56,46}</string>
            </dict>
            <key>lnmj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,392},{61,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,38}}</string>
                <key>sourceSize</key>
                <string>{61,38}</string>
            </dict>
            <key>lnmj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,284},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>lnmj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{62,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,34}}</string>
                <key>sourceSize</key>
                <string>{62,34}</string>
            </dict>
            <key>lnmj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,331},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>lnmj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,347},{57,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,40}}</string>
                <key>sourceSize</key>
                <string>{57,40}</string>
            </dict>
            <key>lnmj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,389},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>lnmj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,144},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>lnmj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,437},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>lnmj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,103},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>lnmj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,309},{65,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,39}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>lnmj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,61},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>lnmj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,331},{62,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,43}}</string>
                <key>sourceSize</key>
                <string>{62,43}</string>
            </dict>
            <key>lnmj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,330},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>lnmj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,395},{62,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,47}}</string>
                <key>sourceSize</key>
                <string>{62,47}</string>
            </dict>
            <key>lnmj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,459},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>lnmj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,103},{55,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,39}}</string>
                <key>sourceSize</key>
                <string>{55,39}</string>
            </dict>
            <key>lnmj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,444},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>lnmj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,185},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>lnmj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,347},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>lnmj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,144},{57,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,39}}</string>
                <key>sourceSize</key>
                <string>{57,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_lnzi.png</string>
            <key>size</key>
            <string>{751,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69de3eeb9f62bb3b3a8f87269fbe325d$</string>
            <key>textureFileName</key>
            <string>majiang_lnzi.png</string>
        </dict>
    </dict>
</plist>
