<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thjmj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{71,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,92}}</string>
                <key>sourceSize</key>
                <string>{71,92}</string>
            </dict>
            <key>thjmj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,190},{17,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,92}}</string>
                <key>sourceSize</key>
                <string>{17,92}</string>
            </dict>
            <key>thjmj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,265},{59,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,91}}</string>
                <key>sourceSize</key>
                <string>{59,91}</string>
            </dict>
            <key>thjmj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,272},{49,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,91}}</string>
                <key>sourceSize</key>
                <string>{49,91}</string>
            </dict>
            <key>thjmj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>thjmj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,244},{61,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,91}}</string>
                <key>sourceSize</key>
                <string>{61,91}</string>
            </dict>
            <key>thjmj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>thjmj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,201},{62,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{64,94}</string>
            </dict>
            <key>thjmj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,134},{61,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,96}}</string>
                <key>sourceSize</key>
                <string>{61,96}</string>
            </dict>
            <key>thjmj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,326},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>thjmj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,197},{45,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,93}}</string>
                <key>sourceSize</key>
                <string>{45,93}</string>
            </dict>
            <key>thjmj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{76,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,98}}</string>
                <key>sourceSize</key>
                <string>{76,98}</string>
            </dict>
            <key>thjmj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,323},{69,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,85}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>thjmj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{69,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,85}}</string>
                <key>sourceSize</key>
                <string>{69,85}</string>
            </dict>
            <key>thjmj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{62,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,99}}</string>
                <key>sourceSize</key>
                <string>{62,99}</string>
            </dict>
            <key>thjmj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{72,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,98}}</string>
                <key>sourceSize</key>
                <string>{72,98}</string>
            </dict>
            <key>thjmj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,100}}</string>
                <key>sourceSize</key>
                <string>{53,100}</string>
            </dict>
            <key>thjmj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,66},{75,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,94}}</string>
                <key>sourceSize</key>
                <string>{75,94}</string>
            </dict>
            <key>thjmj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,379},{66,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,85}}</string>
                <key>sourceSize</key>
                <string>{66,85}</string>
            </dict>
            <key>thjmj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,203},{67,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,91}}</string>
                <key>sourceSize</key>
                <string>{67,91}</string>
            </dict>
            <key>thjmj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,66},{66,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,97}}</string>
                <key>sourceSize</key>
                <string>{66,97}</string>
            </dict>
            <key>thjmj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,130},{69,94}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,94}}</string>
                <key>sourceSize</key>
                <string>{69,98}</string>
            </dict>
            <key>thjmj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,76},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>thjmj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,66},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>thjmj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{62,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,97}}</string>
                <key>sourceSize</key>
                <string>{62,97}</string>
            </dict>
            <key>thjmj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,143},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>thjmj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{62,96}</string>
            </dict>
            <key>thjmj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,307},{70,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{70,90}</string>
            </dict>
            <key>thjmj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,336},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>thjmj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,211},{60,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,92}}</string>
                <key>sourceSize</key>
                <string>{60,92}</string>
            </dict>
            <key>thjmj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>thjmj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>thjmj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,273},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{63,73}</string>
            </dict>
            <key>thjmj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,140},{61,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,94}}</string>
                <key>sourceSize</key>
                <string>{61,94}</string>
            </dict>
            <key>thjmj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,578},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>thjmj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,66},{11,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,60}}</string>
                <key>sourceSize</key>
                <string>{11,60}</string>
            </dict>
            <key>thjmj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,709},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,59}</string>
            </dict>
            <key>thjmj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,528},{32,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,59}}</string>
                <key>sourceSize</key>
                <string>{32,59}</string>
            </dict>
            <key>thjmj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,672},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>thjmj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,589},{40,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,60}}</string>
                <key>sourceSize</key>
                <string>{40,60}</string>
            </dict>
            <key>thjmj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,447},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,63}}</string>
                <key>sourceSize</key>
                <string>{39,63}</string>
            </dict>
            <key>thjmj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,636},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
            <key>thjmj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,584},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>thjmj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,705},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>thjmj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,394},{29,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,60}}</string>
                <key>sourceSize</key>
                <string>{29,60}</string>
            </dict>
            <key>thjmj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,418},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>thjmj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,761},{45,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,55}}</string>
                <key>sourceSize</key>
                <string>{45,55}</string>
            </dict>
            <key>thjmj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,759},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>thjmj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,458},{40,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,64}}</string>
                <key>sourceSize</key>
                <string>{40,64}</string>
            </dict>
            <key>thjmj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,443},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,63}}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
            <key>thjmj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,394},{34,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,65}}</string>
                <key>sourceSize</key>
                <string>{34,65}</string>
            </dict>
            <key>thjmj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,528},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>thjmj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{43,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,55}</string>
            </dict>
            <key>thjmj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,631},{44,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,59}}</string>
                <key>sourceSize</key>
                <string>{44,59}</string>
            </dict>
            <key>thjmj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,441},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,63}}</string>
                <key>sourceSize</key>
                <string>{43,63}</string>
            </dict>
            <key>thjmj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,488},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>thjmj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{40,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,62}}</string>
                <key>sourceSize</key>
                <string>{40,62}</string>
            </dict>
            <key>thjmj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,461},{41,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,62}}</string>
                <key>sourceSize</key>
                <string>{41,62}</string>
            </dict>
            <key>thjmj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,553},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>thjmj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,572},{43,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,60}}</string>
                <key>sourceSize</key>
                <string>{43,60}</string>
            </dict>
            <key>thjmj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,542},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>thjmj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,612},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>thjmj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>thjmj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,629},{39,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,60}}</string>
                <key>sourceSize</key>
                <string>{39,60}</string>
            </dict>
            <key>thjmj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,327},{41,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{41,53}</string>
            </dict>
            <key>thjmj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>thjmj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,806},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>thjmj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,542},{40,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,61}}</string>
                <key>sourceSize</key>
                <string>{40,61}</string>
            </dict>
            <key>thjmj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,370},{60,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,46}}</string>
                <key>sourceSize</key>
                <string>{60,46}</string>
            </dict>
            <key>thjmj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,128},{60,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,11}}</string>
                <key>sourceSize</key>
                <string>{60,11}</string>
            </dict>
            <key>thjmj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,677},{59,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,38}}</string>
                <key>sourceSize</key>
                <string>{59,38}</string>
            </dict>
            <key>thjmj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,678},{59,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,32}}</string>
                <key>sourceSize</key>
                <string>{59,32}</string>
            </dict>
            <key>thjmj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,670},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>thjmj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{60,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,40}}</string>
                <key>sourceSize</key>
                <string>{60,40}</string>
            </dict>
            <key>thjmj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,595},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,39}}</string>
                <key>sourceSize</key>
                <string>{63,39}</string>
            </dict>
            <key>thjmj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,667},{59,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,40}}</string>
                <key>sourceSize</key>
                <string>{59,40}</string>
            </dict>
            <key>thjmj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,511},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>thjmj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,672},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>thjmj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,456},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>thjmj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,405},{64,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,51}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>thjmj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,717},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>thjmj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,714},{56,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,45}}</string>
                <key>sourceSize</key>
                <string>{56,45}</string>
            </dict>
            <key>thjmj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,470},{64,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,39}}</string>
                <key>sourceSize</key>
                <string>{64,39}</string>
            </dict>
            <key>thjmj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,394},{63,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,47}}</string>
                <key>sourceSize</key>
                <string>{63,47}</string>
            </dict>
            <key>thjmj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,326},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,34}</string>
            </dict>
            <key>thjmj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,492},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>thjmj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,806},{55,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,43}}</string>
                <key>sourceSize</key>
                <string>{55,43}</string>
            </dict>
            <key>thjmj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,626},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>thjmj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,396},{63,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,43}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>thjmj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,550},{60,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,44}}</string>
                <key>sourceSize</key>
                <string>{60,44}</string>
            </dict>
            <key>thjmj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,530},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
            <key>thjmj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,525},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>thjmj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,500},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>thjmj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,584},{60,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,43}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>thjmj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,486},{63,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,40}}</string>
                <key>sourceSize</key>
                <string>{63,40}</string>
            </dict>
            <key>thjmj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,712},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>thjmj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,659},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>thjmj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,626},{60,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,39}}</string>
                <key>sourceSize</key>
                <string>{60,39}</string>
            </dict>
            <key>thjmj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,284},{53,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,41}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>thjmj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>thjmj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,617},{47,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,40}}</string>
                <key>sourceSize</key>
                <string>{47,40}</string>
            </dict>
            <key>thjmj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,488},{62,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,40}}</string>
                <key>sourceSize</key>
                <string>{62,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_thjzi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41684be333b316d5167a2341613701da$</string>
            <key>textureFileName</key>
            <string>majiang_thjzi.png</string>
        </dict>
    </dict>
</plist>
