<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4mjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,199}}</string>
                <key>sourceSize</key>
                <string>{140,199}</string>
            </dict>
            <key>4mjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{87,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,120}}</string>
                <key>sourceSize</key>
                <string>{87,120}</string>
            </dict>
            <key>4mjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{61,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,84}}</string>
                <key>sourceSize</key>
                <string>{61,84}</string>
            </dict>
            <key>4mjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{36,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,88}}</string>
                <key>sourceSize</key>
                <string>{36,88}</string>
            </dict>
            <key>4mjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,82},{61,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,86}}</string>
                <key>sourceSize</key>
                <string>{61,86}</string>
            </dict>
            <key>4mjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>4mjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,65},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_bg4.png</string>
            <key>size</key>
            <string>{486,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b3fb1723b5b4cf998e390c080d48606$</string>
            <key>textureFileName</key>
            <string>majiang_bg4.png</string>
        </dict>
    </dict>
</plist>
