<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldmj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>oldmj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{29,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,129}}</string>
                <key>sourceSize</key>
                <string>{29,129}</string>
            </dict>
            <key>oldmj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{83,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,129}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>oldmj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,136},{69,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,131}}</string>
                <key>sourceSize</key>
                <string>{69,131}</string>
            </dict>
            <key>oldmj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,133},{82,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,129}}</string>
                <key>sourceSize</key>
                <string>{82,129}</string>
            </dict>
            <key>oldmj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{80,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,129}}</string>
                <key>sourceSize</key>
                <string>{80,129}</string>
            </dict>
            <key>oldmj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>oldmj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,708},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>oldmj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>oldmj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,931},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>oldmj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,541},{56,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,114}}</string>
                <key>sourceSize</key>
                <string>{56,114}</string>
            </dict>
            <key>oldmj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,387},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>oldmj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,679},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>oldmj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,847},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>oldmj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,282},{77,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,132}}</string>
                <key>sourceSize</key>
                <string>{77,132}</string>
            </dict>
            <key>oldmj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{91,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,138}}</string>
                <key>sourceSize</key>
                <string>{91,138}</string>
            </dict>
            <key>oldmj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,847},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>oldmj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>oldmj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,415},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{82,124}</string>
            </dict>
            <key>oldmj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,416},{83,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,131}}</string>
                <key>sourceSize</key>
                <string>{83,131}</string>
            </dict>
            <key>oldmj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,849},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>oldmj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,282},{82,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,131}}</string>
                <key>sourceSize</key>
                <string>{82,131}</string>
            </dict>
            <key>oldmj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,568},{83,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,138}}</string>
                <key>sourceSize</key>
                <string>{83,138}</string>
            </dict>
            <key>oldmj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>oldmj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>oldmj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,145},{83,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,135}}</string>
                <key>sourceSize</key>
                <string>{83,135}</string>
            </dict>
            <key>oldmj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>oldmj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,264},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>oldmj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,253},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>oldmj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{74,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,118}}</string>
                <key>sourceSize</key>
                <string>{74,118}</string>
            </dict>
            <key>oldmj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,133},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,118}</string>
            </dict>
            <key>oldmj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>oldmj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,122},{80,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>oldmj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,549},{75,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{75,128}</string>
            </dict>
            <key>oldmj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,657},{68,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,97}}</string>
                <key>sourceSize</key>
                <string>{68,97}</string>
            </dict>
            <key>oldmj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,986},{20,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,89}}</string>
                <key>sourceSize</key>
                <string>{20,89}</string>
            </dict>
            <key>oldmj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,756},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>oldmj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{47,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,90}}</string>
                <key>sourceSize</key>
                <string>{47,90}</string>
            </dict>
            <key>oldmj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,756},{57,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,89}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>oldmj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,94},{55,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,89}}</string>
                <key>sourceSize</key>
                <string>{55,89}</string>
            </dict>
            <key>oldmj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,736},{55,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,96}}</string>
                <key>sourceSize</key>
                <string>{55,96}</string>
            </dict>
            <key>oldmj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,733},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>oldmj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,540},{57,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,96}}</string>
                <key>sourceSize</key>
                <string>{57,96}</string>
            </dict>
            <key>oldmj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,67},{63,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{63,64}</string>
            </dict>
            <key>oldmj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,499},{39,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,79}}</string>
                <key>sourceSize</key>
                <string>{39,79}</string>
            </dict>
            <key>oldmj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,946},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>oldmj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,924},{62,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,81}}</string>
                <key>sourceSize</key>
                <string>{62,81}</string>
            </dict>
            <key>oldmj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,921},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>oldmj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,326},{53,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,91}}</string>
                <key>sourceSize</key>
                <string>{53,91}</string>
            </dict>
            <key>oldmj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,834},{63,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,95}}</string>
                <key>sourceSize</key>
                <string>{63,95}</string>
            </dict>
            <key>oldmj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,927},{50,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,95}}</string>
                <key>sourceSize</key>
                <string>{50,95}</string>
            </dict>
            <key>oldmj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,103},{65,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,91}}</string>
                <key>sourceSize</key>
                <string>{65,91}</string>
            </dict>
            <key>oldmj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,469},{57,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,86}}</string>
                <key>sourceSize</key>
                <string>{57,86}</string>
            </dict>
            <key>oldmj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,604},{57,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>oldmj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,539},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>oldmj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,512},{57,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,90}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>oldmj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,636},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>oldmj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,539},{57,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,95}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
            <key>oldmj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,638},{57,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,96}}</string>
                <key>sourceSize</key>
                <string>{57,96}</string>
            </dict>
            <key>oldmj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,328},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,93}}</string>
                <key>sourceSize</key>
                <string>{57,93}</string>
            </dict>
            <key>oldmj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,540},{57,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,96}}</string>
                <key>sourceSize</key>
                <string>{57,96}</string>
            </dict>
            <key>oldmj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,786},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>oldmj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,62},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,75}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>oldmj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,868},{51,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,81}}</string>
                <key>sourceSize</key>
                <string>{51,81}</string>
            </dict>
            <key>oldmj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,785},{59,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{59,81}</string>
            </dict>
            <key>oldmj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,127},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>oldmj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{55,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,73}}</string>
                <key>sourceSize</key>
                <string>{55,73}</string>
            </dict>
            <key>oldmj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,379},{52,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,88}}</string>
                <key>sourceSize</key>
                <string>{52,88}</string>
            </dict>
            <key>oldmj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,847},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>oldmj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,988},{89,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,20}}</string>
                <key>sourceSize</key>
                <string>{89,20}</string>
            </dict>
            <key>oldmj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,187},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>oldmj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,798},{90,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,47}}</string>
                <key>sourceSize</key>
                <string>{90,47}</string>
            </dict>
            <key>oldmj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,288},{89,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,57}}</string>
                <key>sourceSize</key>
                <string>{89,57}</string>
            </dict>
            <key>oldmj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{89,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,55}}</string>
                <key>sourceSize</key>
                <string>{89,55}</string>
            </dict>
            <key>oldmj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,830},{95,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,55}}</string>
                <key>sourceSize</key>
                <string>{95,55}</string>
            </dict>
            <key>oldmj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,733},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>oldmj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,834},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>oldmj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{64,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>oldmj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,499},{79,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,39}}</string>
                <key>sourceSize</key>
                <string>{79,39}</string>
            </dict>
            <key>oldmj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,461},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>oldmj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,645},{81,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,62}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>oldmj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{78,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,58}}</string>
                <key>sourceSize</key>
                <string>{78,58}</string>
            </dict>
            <key>oldmj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,419},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>oldmj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,364},{95,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,63}}</string>
                <key>sourceSize</key>
                <string>{95,63}</string>
            </dict>
            <key>oldmj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,231},{95,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>oldmj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{91,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,65}}</string>
                <key>sourceSize</key>
                <string>{91,65}</string>
            </dict>
            <key>oldmj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,557},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,57}}</string>
                <key>sourceSize</key>
                <string>{86,57}</string>
            </dict>
            <key>oldmj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,95},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>oldmj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,927},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>oldmj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,196},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,57}}</string>
                <key>sourceSize</key>
                <string>{90,57}</string>
            </dict>
            <key>oldmj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,830},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>oldmj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,636},{95,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,57}}</string>
                <key>sourceSize</key>
                <string>{95,57}</string>
            </dict>
            <key>oldmj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,638},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>oldmj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,231},{93,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>oldmj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,736},{96,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,57}}</string>
                <key>sourceSize</key>
                <string>{96,57}</string>
            </dict>
            <key>oldmj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,962},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>oldmj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,2},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>oldmj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,871},{81,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,51}}</string>
                <key>sourceSize</key>
                <string>{81,51}</string>
            </dict>
            <key>oldmj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,921},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>oldmj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,67},{68,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,62}</string>
            </dict>
            <key>oldmj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,728},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>oldmj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,696},{88,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,52}}</string>
                <key>sourceSize</key>
                <string>{88,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_oldzi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa5ee83c3be5ffc7cb4c0ec7a887d15b$</string>
            <key>textureFileName</key>
            <string>majiang_oldzi.png</string>
        </dict>
    </dict>
</plist>
