<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ymjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,197}}</string>
                <key>sourceSize</key>
                <string>{133,197}</string>
            </dict>
            <key>ymjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{97,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,142}}</string>
                <key>sourceSize</key>
                <string>{97,142}</string>
            </dict>
            <key>ymjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{101,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>ymjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{43,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,104}}</string>
                <key>sourceSize</key>
                <string>{43,104}</string>
            </dict>
            <key>ymjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,308},{66,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{66,96}</string>
            </dict>
            <key>ymjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,224},{101,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,82}}</string>
                <key>sourceSize</key>
                <string>{101,82}</string>
            </dict>
            <key>ymjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,137},{101,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,85}}</string>
                <key>sourceSize</key>
                <string>{101,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_yellowbg.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42e1a1423fc1e930daa27ae3b4f59fa1$</string>
            <key>textureFileName</key>
            <string>majiang_yellowbg.png</string>
        </dict>
    </dict>
</plist>
