<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2mj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{91,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,127}}</string>
                <key>sourceSize</key>
                <string>{91,127}</string>
            </dict>
            <key>2mj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,252},{27,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,122}}</string>
                <key>sourceSize</key>
                <string>{27,122}</string>
            </dict>
            <key>2mj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,261},{76,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,126}}</string>
                <key>sourceSize</key>
                <string>{76,126}</string>
            </dict>
            <key>2mj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,260},{77,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,125}}</string>
                <key>sourceSize</key>
                <string>{77,125}</string>
            </dict>
            <key>2mj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,89},{83,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,124}}</string>
                <key>sourceSize</key>
                <string>{83,124}</string>
            </dict>
            <key>2mj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,263},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
            <key>2mj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{87,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,131}}</string>
                <key>sourceSize</key>
                <string>{87,131}</string>
            </dict>
            <key>2mj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,132},{80,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,129}}</string>
                <key>sourceSize</key>
                <string>{80,129}</string>
            </dict>
            <key>2mj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{87,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,130}}</string>
                <key>sourceSize</key>
                <string>{87,130}</string>
            </dict>
            <key>2mj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,269},{94,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,95}}</string>
                <key>sourceSize</key>
                <string>{94,95}</string>
            </dict>
            <key>2mj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,167},{58,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,123}}</string>
                <key>sourceSize</key>
                <string>{58,123}</string>
            </dict>
            <key>2mj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,260},{91,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,122}}</string>
                <key>sourceSize</key>
                <string>{91,122}</string>
            </dict>
            <key>2mj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,167},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>2mj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,176},{91,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,112}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>2mj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,90},{82,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,131}}</string>
                <key>sourceSize</key>
                <string>{82,131}</string>
            </dict>
            <key>2mj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{89,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,130}}</string>
                <key>sourceSize</key>
                <string>{89,130}</string>
            </dict>
            <key>2mj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,95},{70,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,125}}</string>
                <key>sourceSize</key>
                <string>{70,125}</string>
            </dict>
            <key>2mj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,122}}</string>
                <key>sourceSize</key>
                <string>{100,122}</string>
            </dict>
            <key>2mj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,91},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>2mj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,90},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{82,124}</string>
            </dict>
            <key>2mj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{85,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,131}}</string>
                <key>sourceSize</key>
                <string>{85,131}</string>
            </dict>
            <key>2mj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,272},{84,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,130}}</string>
                <key>sourceSize</key>
                <string>{84,130}</string>
            </dict>
            <key>2mj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,140},{84,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,130}}</string>
                <key>sourceSize</key>
                <string>{84,130}</string>
            </dict>
            <key>2mj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{89,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,140}}</string>
                <key>sourceSize</key>
                <string>{89,140}</string>
            </dict>
            <key>2mj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{83,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,134}}</string>
                <key>sourceSize</key>
                <string>{83,134}</string>
            </dict>
            <key>2mj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,136}</string>
            </dict>
            <key>2mj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{86,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,133}}</string>
                <key>sourceSize</key>
                <string>{86,133}</string>
            </dict>
            <key>2mj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{96,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,128}}</string>
                <key>sourceSize</key>
                <string>{96,128}</string>
            </dict>
            <key>2mj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,269},{91,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,95}}</string>
                <key>sourceSize</key>
                <string>{91,95}</string>
            </dict>
            <key>2mj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,261},{91,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,125}}</string>
                <key>sourceSize</key>
                <string>{91,125}</string>
            </dict>
            <key>2mj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,174},{84,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,107}}</string>
                <key>sourceSize</key>
                <string>{84,107}</string>
            </dict>
            <key>2mj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,227},{83,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,94}}</string>
                <key>sourceSize</key>
                <string>{83,94}</string>
            </dict>
            <key>2mj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,174},{84,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,103}}</string>
                <key>sourceSize</key>
                <string>{84,103}</string>
            </dict>
            <key>2mj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,174},{85,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,124}}</string>
                <key>sourceSize</key>
                <string>{85,124}</string>
            </dict>
            <key>2mj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,366},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>2mj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,420},{15,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,70}}</string>
                <key>sourceSize</key>
                <string>{15,70}</string>
            </dict>
            <key>2mj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,453},{43,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,71}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>2mj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,439},{43,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,70}}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
            <key>2mj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,390},{47,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,68}}</string>
                <key>sourceSize</key>
                <string>{47,68}</string>
            </dict>
            <key>2mj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,95},{47,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,70}}</string>
                <key>sourceSize</key>
                <string>{47,70}</string>
            </dict>
            <key>2mj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,374},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,73}}</string>
                <key>sourceSize</key>
                <string>{48,73}</string>
            </dict>
            <key>2mj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,439},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>2mj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,404},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>2mj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,437},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>2mj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,283},{32,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,68}}</string>
                <key>sourceSize</key>
                <string>{32,68}</string>
            </dict>
            <key>2mj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,384},{53,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,68}}</string>
                <key>sourceSize</key>
                <string>{53,68}</string>
            </dict>
            <key>2mj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,421},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>2mj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,439},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>2mj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,439},{47,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,72}}</string>
                <key>sourceSize</key>
                <string>{47,72}</string>
            </dict>
            <key>2mj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,387},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>2mj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,94},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>2mj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,453},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>2mj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,440},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>2mj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,440},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>2mj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,384},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>2mj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,407},{46,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,73}}</string>
                <key>sourceSize</key>
                <string>{46,73}</string>
            </dict>
            <key>2mj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,334},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>2mj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,323},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>2mj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,283},{49,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,77}}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>2mj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,174},{54,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,76}}</string>
                <key>sourceSize</key>
                <string>{54,76}</string>
            </dict>
            <key>2mj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,390},{47,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,74}}</string>
                <key>sourceSize</key>
                <string>{47,74}</string>
            </dict>
            <key>2mj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,439},{53,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>2mj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>2mj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,366},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>2mj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,389},{48,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,61}}</string>
                <key>sourceSize</key>
                <string>{48,61}</string>
            </dict>
            <key>2mj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,389},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
            <key>2mj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,437},{47,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{47,60}</string>
            </dict>
            <key>2mj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,439},{49,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,71}}</string>
                <key>sourceSize</key>
                <string>{49,71}</string>
            </dict>
            <key>2mj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,353},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>2mj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,526},{50,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,12}}</string>
                <key>sourceSize</key>
                <string>{50,12}</string>
            </dict>
            <key>2mj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,176},{51,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,31}}</string>
                <key>sourceSize</key>
                <string>{51,31}</string>
            </dict>
            <key>2mj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,476},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
            <key>2mj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,384},{48,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,34}}</string>
                <key>sourceSize</key>
                <string>{48,34}</string>
            </dict>
            <key>2mj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,469},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>2mj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,510},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>2mj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,504},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>2mj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,433},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>2mj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,126},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>2mj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,523},{49,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,23}}</string>
                <key>sourceSize</key>
                <string>{49,23}</string>
            </dict>
            <key>2mj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,511},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>2mj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>2mj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,366},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>2mj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,498},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>2mj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,513},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>2mj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,521},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>2mj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,509},{49,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,40}}</string>
                <key>sourceSize</key>
                <string>{49,40}</string>
            </dict>
            <key>2mj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,433},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>2mj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,469},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>2mj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,486},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>2mj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,492},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>2mj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,461},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>2mj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,424},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>2mj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,57},{55,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,35}}</string>
                <key>sourceSize</key>
                <string>{55,35}</string>
            </dict>
            <key>2mj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,420},{54,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,39}}</string>
                <key>sourceSize</key>
                <string>{54,39}</string>
            </dict>
            <key>2mj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,474},{52,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,34}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>2mj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,498},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>2mj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,511},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>2mj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,229},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,38}}</string>
                <key>sourceSize</key>
                <string>{52,38}</string>
            </dict>
            <key>2mj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,482},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,34}}</string>
                <key>sourceSize</key>
                <string>{44,34}</string>
            </dict>
            <key>2mj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,512},{37,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,34}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>2mj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,507},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>2mj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,513},{51,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,36}}</string>
                <key>sourceSize</key>
                <string>{51,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_zi2.png</string>
            <key>size</key>
            <string>{1023,551}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad26d7909f9a9daf783225245bce2cad$</string>
            <key>textureFileName</key>
            <string>majiang_zi2.png</string>
        </dict>
    </dict>
</plist>
