<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oldmjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,197}}</string>
                <key>sourceSize</key>
                <string>{132,197}</string>
            </dict>
            <key>oldmjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{97,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,142}}</string>
                <key>sourceSize</key>
                <string>{97,142}</string>
            </dict>
            <key>oldmjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{101,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{101,143}</string>
            </dict>
            <key>oldmjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{42,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,104}}</string>
                <key>sourceSize</key>
                <string>{42,104}</string>
            </dict>
            <key>oldmjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,225},{66,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,98}}</string>
                <key>sourceSize</key>
                <string>{66,98}</string>
            </dict>
            <key>oldmjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,136},{101,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,87}}</string>
                <key>sourceSize</key>
                <string>{101,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_oldbg.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c960970c08862e2fa751bf4163b6b29$</string>
            <key>textureFileName</key>
            <string>majiang_oldbg.png</string>
        </dict>
    </dict>
</plist>
