<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1mj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{99,141}</string>
            </dict>
            <key>1mj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,462},{29,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,129}}</string>
                <key>sourceSize</key>
                <string>{29,129}</string>
            </dict>
            <key>1mj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,685},{83,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,129}}</string>
                <key>sourceSize</key>
                <string>{83,129}</string>
            </dict>
            <key>1mj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,145},{69,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,131}}</string>
                <key>sourceSize</key>
                <string>{69,131}</string>
            </dict>
            <key>1mj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,816},{82,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,129}}</string>
                <key>sourceSize</key>
                <string>{82,129}</string>
            </dict>
            <key>1mj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,816},{80,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,129}}</string>
                <key>sourceSize</key>
                <string>{80,129}</string>
            </dict>
            <key>1mj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{80,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,139}}</string>
                <key>sourceSize</key>
                <string>{80,139}</string>
            </dict>
            <key>1mj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,845},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>1mj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>1mj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,367},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>1mj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,161},{56,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,114}}</string>
                <key>sourceSize</key>
                <string>{56,114}</string>
            </dict>
            <key>1mj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,161},{107,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,110}}</string>
                <key>sourceSize</key>
                <string>{107,110}</string>
            </dict>
            <key>1mj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,273},{90,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,117}}</string>
                <key>sourceSize</key>
                <string>{90,117}</string>
            </dict>
            <key>1mj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,277},{84,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,113}}</string>
                <key>sourceSize</key>
                <string>{84,113}</string>
            </dict>
            <key>1mj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,285},{77,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,132}}</string>
                <key>sourceSize</key>
                <string>{77,132}</string>
            </dict>
            <key>1mj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{91,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,138}}</string>
                <key>sourceSize</key>
                <string>{91,138}</string>
            </dict>
            <key>1mj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,87},{72,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,137}}</string>
                <key>sourceSize</key>
                <string>{72,137}</string>
            </dict>
            <key>1mj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{94,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{94,132}</string>
            </dict>
            <key>1mj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,392},{82,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,124}}</string>
                <key>sourceSize</key>
                <string>{82,124}</string>
            </dict>
            <key>1mj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,419},{83,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,131}}</string>
                <key>sourceSize</key>
                <string>{83,131}</string>
            </dict>
            <key>1mj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>1mj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,552},{82,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,131}}</string>
                <key>sourceSize</key>
                <string>{82,131}</string>
            </dict>
            <key>1mj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{83,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,138}}</string>
                <key>sourceSize</key>
                <string>{83,138}</string>
            </dict>
            <key>1mj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{83,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,137}}</string>
                <key>sourceSize</key>
                <string>{83,137}</string>
            </dict>
            <key>1mj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>1mj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,87},{83,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,135}}</string>
                <key>sourceSize</key>
                <string>{83,135}</string>
            </dict>
            <key>1mj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{83,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,139}}</string>
                <key>sourceSize</key>
                <string>{83,139}</string>
            </dict>
            <key>1mj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,143},{85,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{85,121}</string>
            </dict>
            <key>1mj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,392},{91,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,109}}</string>
                <key>sourceSize</key>
                <string>{91,109}</string>
            </dict>
            <key>1mj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,259},{74,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,118}}</string>
                <key>sourceSize</key>
                <string>{74,118}</string>
            </dict>
            <key>1mj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,172},{85,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,118}}</string>
                <key>sourceSize</key>
                <string>{85,118}</string>
            </dict>
            <key>1mj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,266},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>1mj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,379},{80,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,107}}</string>
                <key>sourceSize</key>
                <string>{80,107}</string>
            </dict>
            <key>1mj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,947},{75,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,128}}</string>
                <key>sourceSize</key>
                <string>{75,128}</string>
            </dict>
            <key>1mj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,518},{57,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,81}}</string>
                <key>sourceSize</key>
                <string>{57,81}</string>
            </dict>
            <key>1mj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,172},{16,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,75}}</string>
                <key>sourceSize</key>
                <string>{16,75}</string>
            </dict>
            <key>1mj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,603},{48,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,74}}</string>
                <key>sourceSize</key>
                <string>{48,74}</string>
            </dict>
            <key>1mj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,947},{37,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,75}}</string>
                <key>sourceSize</key>
                <string>{37,75}</string>
            </dict>
            <key>1mj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,739},{45,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,74}}</string>
                <key>sourceSize</key>
                <string>{45,74}</string>
            </dict>
            <key>1mj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,565},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>1mj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,577},{47,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,79}}</string>
                <key>sourceSize</key>
                <string>{47,79}</string>
            </dict>
            <key>1mj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,658},{49,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,79}}</string>
                <key>sourceSize</key>
                <string>{49,79}</string>
            </dict>
            <key>1mj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,658},{49,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,81}}</string>
                <key>sourceSize</key>
                <string>{49,81}</string>
            </dict>
            <key>1mj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,876},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>1mj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,648},{33,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,66}}</string>
                <key>sourceSize</key>
                <string>{33,66}</string>
            </dict>
            <key>1mj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,538},{59,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,63}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>1mj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,593},{53,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,67}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>1mj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,683},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,64}}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>1mj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,816},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>1mj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,577},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>1mj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,553},{42,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,78}}</string>
                <key>sourceSize</key>
                <string>{42,78}</string>
            </dict>
            <key>1mj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,947},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>1mj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,741},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>1mj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,739},{48,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,75}}</string>
                <key>sourceSize</key>
                <string>{48,75}</string>
            </dict>
            <key>1mj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,553},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>1mj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,658},{47,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,76}}</string>
                <key>sourceSize</key>
                <string>{47,76}</string>
            </dict>
            <key>1mj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,503},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>1mj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,493},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>1mj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,488},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,79}}</string>
                <key>sourceSize</key>
                <string>{48,79}</string>
            </dict>
            <key>1mj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,543},{48,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,78}}</string>
                <key>sourceSize</key>
                <string>{48,78}</string>
            </dict>
            <key>1mj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,266},{48,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,80}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>1mj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,493},{49,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,70}}</string>
                <key>sourceSize</key>
                <string>{49,70}</string>
            </dict>
            <key>1mj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,653},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,63}}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>1mj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,736},{43,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,68}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>1mj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,806},{49,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,68}}</string>
                <key>sourceSize</key>
                <string>{49,68}</string>
            </dict>
            <key>1mj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,742},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>1mj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,641},{46,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,62}}</string>
                <key>sourceSize</key>
                <string>{46,62}</string>
            </dict>
            <key>1mj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,815},{43,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,71}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>1mj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,802},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>1mj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,653},{53,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,12}}</string>
                <key>sourceSize</key>
                <string>{53,12}</string>
            </dict>
            <key>1mj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,800},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>1mj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,771},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>1mj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,855},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>1mj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,734},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>1mj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,894},{54,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,34}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>1mj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,348},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>1mj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,987},{58,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,35}}</string>
                <key>sourceSize</key>
                <string>{58,35}</string>
            </dict>
            <key>1mj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,963},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>1mj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,690},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>1mj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,978},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>1mj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,808},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>1mj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,972},{46,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,35}}</string>
                <key>sourceSize</key>
                <string>{46,35}</string>
            </dict>
            <key>1mj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,916},{54,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,33}}</string>
                <key>sourceSize</key>
                <string>{54,33}</string>
            </dict>
            <key>1mj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{57,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,38}}</string>
                <key>sourceSize</key>
                <string>{57,38}</string>
            </dict>
            <key>1mj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,930},{55,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,30}}</string>
                <key>sourceSize</key>
                <string>{55,30}</string>
            </dict>
            <key>1mj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,932},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>1mj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,894},{51,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,34}}</string>
                <key>sourceSize</key>
                <string>{51,34}</string>
            </dict>
            <key>1mj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,932},{53,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,35}}</string>
                <key>sourceSize</key>
                <string>{53,35}</string>
            </dict>
            <key>1mj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,858},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>1mj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,405},{55,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,34}}</string>
                <key>sourceSize</key>
                <string>{55,34}</string>
            </dict>
            <key>1mj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,800},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>1mj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,734},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>1mj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,920},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>1mj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,862},{56,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,35}}</string>
                <key>sourceSize</key>
                <string>{56,35}</string>
            </dict>
            <key>1mj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,987},{57,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,35}}</string>
                <key>sourceSize</key>
                <string>{57,35}</string>
            </dict>
            <key>1mj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,705},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>1mj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,848},{45,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,38}}</string>
                <key>sourceSize</key>
                <string>{45,38}</string>
            </dict>
            <key>1mj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,775},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
            <key>1mj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,653},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>1mj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,924},{42,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>1mj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,888},{45,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,34}}</string>
                <key>sourceSize</key>
                <string>{45,34}</string>
            </dict>
            <key>1mj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,742},{49,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,31}}</string>
                <key>sourceSize</key>
                <string>{49,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_zi1.png</string>
            <key>size</key>
            <string>{562,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:706bddbd188e93a741daa0053391b14e$</string>
            <key>textureFileName</key>
            <string>majiang_zi1.png</string>
        </dict>
    </dict>
</plist>
