<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,195}}</string>
                <key>sourceSize</key>
                <string>{140,195}</string>
            </dict>
            <key>lvmjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,2},{83,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,120}}</string>
                <key>sourceSize</key>
                <string>{83,120}</string>
            </dict>
            <key>lvmjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>lvmjbg_d2p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,90},{38,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,90}}</string>
                <key>sourceSize</key>
                <string>{38,90}</string>
            </dict>
            <key>lvmjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>lvmjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{78,68}</string>
            </dict>
            <key>lvmjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,72},{76,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,65}}</string>
                <key>sourceSize</key>
                <string>{76,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_lvbg.png</string>
            <key>size</key>
            <string>{494,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3713186ec2af63dd53fa375af22f3e16$</string>
            <key>textureFileName</key>
            <string>majiang_lvbg.png</string>
        </dict>
    </dict>
</plist>
