<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gsmj_fei.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,147},{45,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,49}}</string>
                <key>sourceSize</key>
                <string>{45,49}</string>
            </dict>
            <key>gsmj_fu.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,201},{45,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,47}}</string>
                <key>sourceSize</key>
                <string>{45,47}</string>
            </dict>
            <key>mjbg_d1p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,200}}</string>
                <key>sourceSize</key>
                <string>{142,200}</string>
            </dict>
            <key>mjbg_d1p1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{118,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,170}}</string>
                <key>sourceSize</key>
                <string>{118,170}</string>
            </dict>
            <key>mjbg_d1p1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{118,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,168}}</string>
                <key>sourceSize</key>
                <string>{118,168}</string>
            </dict>
            <key>mjbg_d1p2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,204},{98,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,149}}</string>
                <key>sourceSize</key>
                <string>{98,149}</string>
            </dict>
            <key>mjbg_d1p2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{83,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,117}}</string>
                <key>sourceSize</key>
                <string>{83,117}</string>
            </dict>
            <key>mjbg_d1p2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{82,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,116}}</string>
                <key>sourceSize</key>
                <string>{82,116}</string>
            </dict>
            <key>mjbg_d1p2_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,355},{99,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,148}}</string>
                <key>sourceSize</key>
                <string>{99,148}</string>
            </dict>
            <key>mjbg_d1p2_an_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,203},{79,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,114}}</string>
                <key>sourceSize</key>
                <string>{79,114}</string>
            </dict>
            <key>mjbg_d1p2_an_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,121},{80,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,113}}</string>
                <key>sourceSize</key>
                <string>{80,113}</string>
            </dict>
            <key>mjbg_d3p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,75},{70,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,101}}</string>
                <key>sourceSize</key>
                <string>{70,101}</string>
            </dict>
            <key>mjbg_d3p1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>mjbg_d3p1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{71,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,108}}</string>
                <key>sourceSize</key>
                <string>{71,108}</string>
            </dict>
            <key>mjbg_d4p1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,147},{43,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,99}}</string>
                <key>sourceSize</key>
                <string>{43,99}</string>
            </dict>
            <key>mjbg_d4p1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,248},{44,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,91}}</string>
                <key>sourceSize</key>
                <string>{44,91}</string>
            </dict>
            <key>mjbg_d4p1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,194},{43,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,92}}</string>
                <key>sourceSize</key>
                <string>{43,92}</string>
            </dict>
            <key>mjbg_d4p3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,192},{94,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{94,79}</string>
            </dict>
            <key>mjbg_d4p3_an_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,120},{94,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,79}}</string>
                <key>sourceSize</key>
                <string>{94,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_gsbg.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c64f2690a7996bb4bb71812511bad33$</string>
            <key>textureFileName</key>
            <string>majiang_gsbg.png</string>
        </dict>
    </dict>
</plist>
