<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xygmj_d1p1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,126}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>xygmj_d1p1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,89},{28,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,122}}</string>
                <key>sourceSize</key>
                <string>{28,122}</string>
            </dict>
            <key>xygmj_d1p1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,309},{80,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,122}}</string>
                <key>sourceSize</key>
                <string>{80,122}</string>
            </dict>
            <key>xygmj_d1p1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,433},{68,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,121}}</string>
                <key>sourceSize</key>
                <string>{68,121}</string>
            </dict>
            <key>xygmj_d1p1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,179},{85,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,120}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>xygmj_d1p1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,301},{83,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,121}}</string>
                <key>sourceSize</key>
                <string>{83,121}</string>
            </dict>
            <key>xygmj_d1p1_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{83,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,127}}</string>
                <key>sourceSize</key>
                <string>{83,127}</string>
            </dict>
            <key>xygmj_d1p1_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,180},{83,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,125}}</string>
                <key>sourceSize</key>
                <string>{83,125}</string>
            </dict>
            <key>xygmj_d1p1_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,94},{84,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,126}}</string>
                <key>sourceSize</key>
                <string>{84,126}</string>
            </dict>
            <key>xygmj_d1p1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,370},{90,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,91}}</string>
                <key>sourceSize</key>
                <string>{90,91}</string>
            </dict>
            <key>xygmj_d1p1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,119},{55,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,119}}</string>
                <key>sourceSize</key>
                <string>{55,119}</string>
            </dict>
            <key>xygmj_d1p1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,265},{97,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,118}}</string>
                <key>sourceSize</key>
                <string>{97,118}</string>
            </dict>
            <key>xygmj_d1p1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,298},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>xygmj_d1p1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{87,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,110}}</string>
                <key>sourceSize</key>
                <string>{87,110}</string>
            </dict>
            <key>xygmj_d1p1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,180},{77,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,127}}</string>
                <key>sourceSize</key>
                <string>{77,127}</string>
            </dict>
            <key>xygmj_d1p1_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{90,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,126}}</string>
                <key>sourceSize</key>
                <string>{90,126}</string>
            </dict>
            <key>xygmj_d1p1_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,130},{64,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,130}}</string>
                <key>sourceSize</key>
                <string>{64,130}</string>
            </dict>
            <key>xygmj_d1p1_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,265},{96,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,118}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>xygmj_d1p1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{86,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,113}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>xygmj_d1p1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,176},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>xygmj_d1p1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{87,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,133}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>xygmj_d1p1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{89,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,126}}</string>
                <key>sourceSize</key>
                <string>{89,126}</string>
            </dict>
            <key>xygmj_d1p1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{82,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,128}}</string>
                <key>sourceSize</key>
                <string>{82,128}</string>
            </dict>
            <key>xygmj_d1p1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{85,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,128}}</string>
                <key>sourceSize</key>
                <string>{85,128}</string>
            </dict>
            <key>xygmj_d1p1_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{83,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,131}}</string>
                <key>sourceSize</key>
                <string>{83,131}</string>
            </dict>
            <key>xygmj_d1p1_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{93,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,125}}</string>
                <key>sourceSize</key>
                <string>{93,125}</string>
            </dict>
            <key>xygmj_d1p1_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{82,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,128}}</string>
                <key>sourceSize</key>
                <string>{82,128}</string>
            </dict>
            <key>xygmj_d1p1_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,385},{92,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,120}}</string>
                <key>sourceSize</key>
                <string>{92,120}</string>
            </dict>
            <key>xygmj_d1p1_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,276},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>xygmj_d1p1_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,93},{84,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,125}}</string>
                <key>sourceSize</key>
                <string>{84,125}</string>
            </dict>
            <key>xygmj_d1p1_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,424},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,106}}</string>
                <key>sourceSize</key>
                <string>{82,106}</string>
            </dict>
            <key>xygmj_d1p1_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,87},{83,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,84}}</string>
                <key>sourceSize</key>
                <string>{83,84}</string>
            </dict>
            <key>xygmj_d1p1_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,176},{82,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,98}}</string>
                <key>sourceSize</key>
                <string>{82,98}</string>
            </dict>
            <key>xygmj_d1p1_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,385},{80,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,125}}</string>
                <key>sourceSize</key>
                <string>{80,125}</string>
            </dict>
            <key>xygmj_d1p2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,86},{54,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,72}}</string>
                <key>sourceSize</key>
                <string>{54,72}</string>
            </dict>
            <key>xygmj_d1p2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,308},{16,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,69}}</string>
                <key>sourceSize</key>
                <string>{16,69}</string>
            </dict>
            <key>xygmj_d1p2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,237},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,69}}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>xygmj_d1p2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,308},{38,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,69}}</string>
                <key>sourceSize</key>
                <string>{38,69}</string>
            </dict>
            <key>xygmj_d1p2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,214},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>xygmj_d1p2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,228},{47,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>sourceSize</key>
                <string>{47,69}</string>
            </dict>
            <key>xygmj_d1p2_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,173},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>xygmj_d1p2_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,324},{48,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,71}}</string>
                <key>sourceSize</key>
                <string>{48,71}</string>
            </dict>
            <key>xygmj_d1p2_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,176},{50,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,72}}</string>
                <key>sourceSize</key>
                <string>{50,72}</string>
            </dict>
            <key>xygmj_d1p2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,160},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>xygmj_d1p2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,285},{32,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,69}}</string>
                <key>sourceSize</key>
                <string>{32,69}</string>
            </dict>
            <key>xygmj_d1p2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,86},{57,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,67}}</string>
                <key>sourceSize</key>
                <string>{57,67}</string>
            </dict>
            <key>xygmj_d1p2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,445},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>xygmj_d1p2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,397},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,63}}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
            <key>xygmj_d1p2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,117},{44,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,73}}</string>
                <key>sourceSize</key>
                <string>{44,73}</string>
            </dict>
            <key>xygmj_d1p2_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,86},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,73}}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>xygmj_d1p2_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,190},{36,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{36,72}}</string>
                <key>sourceSize</key>
                <string>{42,78}</string>
            </dict>
            <key>xygmj_d1p2_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,119},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,69}}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>xygmj_d1p2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,379},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>xygmj_d1p2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,390},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,69}}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>xygmj_d1p2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,86},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,76}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>xygmj_d1p2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,164},{53,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,71}}</string>
                <key>sourceSize</key>
                <string>{53,71}</string>
            </dict>
            <key>xygmj_d1p2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,462},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>xygmj_d1p2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,163},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>xygmj_d1p2_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,141},{47,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,73}}</string>
                <key>sourceSize</key>
                <string>{47,73}</string>
            </dict>
            <key>xygmj_d1p2_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,247},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,70}}</string>
                <key>sourceSize</key>
                <string>{54,70}</string>
            </dict>
            <key>xygmj_d1p2_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,462},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>xygmj_d1p2_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,319},{54,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,69}}</string>
                <key>sourceSize</key>
                <string>{54,69}</string>
            </dict>
            <key>xygmj_d1p2_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,212},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>xygmj_d1p2_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,462},{48,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,70}}</string>
                <key>sourceSize</key>
                <string>{48,70}</string>
            </dict>
            <key>xygmj_d1p2_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,231},{47,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{47,61}</string>
            </dict>
            <key>xygmj_d1p2_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,445},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>xygmj_d1p2_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,155},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,56}</string>
            </dict>
            <key>xygmj_d1p2_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,250},{46,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,72}}</string>
                <key>sourceSize</key>
                <string>{46,72}</string>
            </dict>
            <key>xygmj_d4p3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,354},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>xygmj_d4p3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,417},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>xygmj_d4p3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,356},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,32}}</string>
                <key>sourceSize</key>
                <string>{50,32}</string>
            </dict>
            <key>xygmj_d4p3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,463},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,26}</string>
            </dict>
            <key>xygmj_d4p3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,410},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>xygmj_d4p3_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,391},{49,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,32}}</string>
                <key>sourceSize</key>
                <string>{49,32}</string>
            </dict>
            <key>xygmj_d4p3_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,393},{52,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,33}}</string>
                <key>sourceSize</key>
                <string>{52,33}</string>
            </dict>
            <key>xygmj_d4p3_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,356},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
            <key>xygmj_d4p3_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,443},{52,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,35}}</string>
                <key>sourceSize</key>
                <string>{52,35}</string>
            </dict>
            <key>xygmj_d4p3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,425},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,36}}</string>
                <key>sourceSize</key>
                <string>{38,36}</string>
            </dict>
            <key>xygmj_d4p3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,392},{50,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,23}}</string>
                <key>sourceSize</key>
                <string>{50,23}</string>
            </dict>
            <key>xygmj_d4p3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,312},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>xygmj_d4p3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,463},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>xygmj_d4p3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,357},{41,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,33}}</string>
                <key>sourceSize</key>
                <string>{41,33}</string>
            </dict>
            <key>xygmj_d4p3_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,356},{53,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,32}}</string>
                <key>sourceSize</key>
                <string>{53,32}</string>
            </dict>
            <key>xygmj_d4p3_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,265},{53,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,38}}</string>
                <key>sourceSize</key>
                <string>{53,38}</string>
            </dict>
            <key>xygmj_d4p3_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,202},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,27}}</string>
                <key>sourceSize</key>
                <string>{54,27}</string>
            </dict>
            <key>xygmj_d4p3_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,305},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>xygmj_d4p3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,129},{47,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,35}}</string>
                <key>sourceSize</key>
                <string>{47,35}</string>
            </dict>
            <key>xygmj_d4p3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,315},{49,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,37}}</string>
                <key>sourceSize</key>
                <string>{49,37}</string>
            </dict>
            <key>xygmj_d4p3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,277},{54,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,36}}</string>
                <key>sourceSize</key>
                <string>{54,36}</string>
            </dict>
            <key>xygmj_d4p3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,390},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>xygmj_d4p3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,428},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>xygmj_d4p3_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,280},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>xygmj_d4p3_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,390},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>xygmj_d4p3_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,315},{51,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,39}}</string>
                <key>sourceSize</key>
                <string>{51,39}</string>
            </dict>
            <key>xygmj_d4p3_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,390},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>xygmj_d4p3_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,461},{49,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,38}}</string>
                <key>sourceSize</key>
                <string>{49,38}</string>
            </dict>
            <key>xygmj_d4p3_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,315},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>xygmj_d4p3_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,262},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
            <key>xygmj_d4p3_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,463},{43,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,34}}</string>
                <key>sourceSize</key>
                <string>{43,34}</string>
            </dict>
            <key>xygmj_d4p3_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,429},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>xygmj_d4p3_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,463},{40,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,33}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>xygmj_d4p3_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,212},{48,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,31}}</string>
                <key>sourceSize</key>
                <string>{48,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>majiang_xygzi.png</string>
            <key>size</key>
            <string>{1057,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7f608188fbf2e1b5082a383a065f1bf$</string>
            <key>textureFileName</key>
            <string>majiang_xygzi.png</string>
        </dict>
    </dict>
</plist>
