<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meisheng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,818},{146,76}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,212},{146,76}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1260},{438,416}}</string>
                <key>offset</key>
                <string>{22,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,25},{438,416}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,818},{438,440}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,25},{438,440}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,342},{498,474}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,15},{498,474}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{560,500}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{560,500}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{608,500}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,500}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{1,1}}</string>
                <key>offset</key>
                <string>{-305.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{384,284}}</string>
                <key>offset</key>
                <string>{-34,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,132},{384,284}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1258},{434,320}}</string>
                <key>offset</key>
                <string>{-41,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,114},{434,320}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{490,362}}</string>
                <key>offset</key>
                <string>{-52,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,97},{490,362}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{526,338}}</string>
                <key>offset</key>
                <string>{-36,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,66},{526,338}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,818},{438,404}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,24},{438,404}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1310},{438,404}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,24},{438,404}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1258},{438,414}}</string>
                <key>offset</key>
                <string>{22,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,24},{438,414}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
            <key>meisheng_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,818},{438,414}}</string>
                <key>offset</key>
                <string>{22,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,24},{438,414}}</string>
                <key>sourceSize</key>
                <string>{612,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meisheng.png</string>
            <key>size</key>
            <string>{1716,1716}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a05ce99eb3f50b91e404ac3101d3f13$</string>
            <key>textureFileName</key>
            <string>meisheng.png</string>
        </dict>
    </dict>
</plist>
