<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nmw_bcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,2},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,199},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,396},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,593},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
            <key>nmw_bcard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,790},{143,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,195}}</string>
                <key>sourceSize</key>
                <string>{143,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nmw_bcard.png</string>
            <key>size</key>
            <string>{1597,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4b97c730a3050787062a7318ce6fda1$</string>
            <key>textureFileName</key>
            <string>nmw_bcard.png</string>
        </dict>
    </dict>
</plist>
