<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bbt_mcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,2},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,369},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,736},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,1103},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2130,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>bbt_mcard_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2396,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
            <key>m_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2662,1470},{264,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,365}}</string>
                <key>sourceSize</key>
                <string>{264,365}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_midcards.png</string>
            <key>size</key>
            <string>{2928,1837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b29e86cc23fe5b2e0e528e9bda73054c$</string>
            <key>textureFileName</key>
            <string>pdk_midcards.png</string>
        </dict>
    </dict>
</plist>
