<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{3022,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3324,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{3022,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2935,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3324,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3022,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2516,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3324,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{3022,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2720,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2097,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2418,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1259,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1678},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1259},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,421},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
            <key>bbt_bcard_5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,417}}</string>
                <key>sourceSize</key>
                <string>{300,417}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pdk_bigcards.png</string>
            <key>size</key>
            <string>{3626,1980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:239c0228d0e937f240f45712cfc57858$</string>
            <key>textureFileName</key>
            <string>pdk_bigcards.png</string>
        </dict>
    </dict>
</plist>
